/*==Barra del navbar==*/
    /*==Textodelnavbar==*/
    #Nombre{
        font-family: 'Lobster', cursive;
    }

/*==Texto Descriptivo==*/
#NumPag{
    margin: 20px;
}
#MenuComida{
    margin: 25px;
}
/*==Barra del footer==*/  
    /*==TextoDeLaEmpresa==*/
    #Nombre_bajo{
        font-family: 'Lobster', cursive;
        color: rgb(0, 0, 0);
        text-decoration: none;
    }
    #Nombre{
        color: rgb(0, 0, 0);
    }
    /*==Textodelfooter==*/
    #Ubicacion{
        color: whitesmoke;
    }
    /*==Textodelfooter==*/
    #AtencionAlCliente{
        color: whitesmoke;
    }
    /*==Textodelfooter==*/
    #MenuContactanos{
        color: whitesmoke;
    }
    #RedesSociales{
        color: whitesmoke;
    }
    /*==Texto Descriptivo==*/
    #Decoration1{
        text-decoration: none;
    }
    #RedesFacebook{
        background-color: seashell;
    }
    #RedesTwitter{
        background-color: seashell;
    }
    #RedesPinterest{
        background-color: seashell;
    }
    #RedesYoutube{
        background-color: seashell;
    }
@media screen and (max-width: 500px){ 
}
