{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

        <!--CSS -->
        <link rel="stylesheet" href="{% static 'css/css_index_admin.css' %}">

        <!--FONTS-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">  
    
        <!-- Titulo de la pestaña-->
        <title>Restaurantes Siglo XXI</title>
    </head>
<body>
    <header class="container-fluid bg-info d-flex justify-content-center">
        <br>
    </header>

    <div class="ms-5 ps-5">
        <img class="img-fluid" src="{% static 'img/webpay.png' %}" alt="webpay logo">
    </div>

    <div class="container w-25 pt-4 border-2 rounded shadow">
        <div> 
            <div class="row w-75 mx-auto">
                <div class="col">
                    <div class="d-flex">
                        <p>Estas pagando en:</p>
                    </div>

                    <div class="d-flex justify-content-center">
                        <h6 id="tituloNavbar">Restaurante Siglo XXI</h6>
                    </div>
                </div>

                <div class="col">
                    <div class="d-flex justify-content-center">
                        <p>Monto a pagar:</p>
                    </div>

                    <div class="d-flex justify-content-center">
                        <p>$49.500</p>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 d-flex">
                    <p>Seleccionar tu metodo de pago:</p>
                </div>


                <div class="col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center">
                    
                </div>

                <a class="btn btn-outline-secondary col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center  icono-wrap" href="{% url 'ver_reservas' %}" role="button">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-paypal" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M14.06 3.713c.12-1.071-.093-1.832-.702-2.526C12.628.356 11.312 0 9.626 0H4.734a.7.7 0 0 0-.691.59L2.005 13.509a.42.42 0 0 0 .415.486h2.756l-.202 1.28a.628.628 0 0 0 .62.726H8.14c.429 0 .793-.31.862-.731l.025-.13.48-3.043.03-.164.001-.007a.351.351 0 0 1 .348-.297h.38c1.266 0 2.425-.256 3.345-.91.379-.27.712-.603.993-1.005a4.942 4.942 0 0 0 .88-2.195c.242-1.246.13-2.356-.57-3.154a2.687 2.687 0 0 0-.76-.59l-.094-.061zM6.543 8.82l-.845 5.213v.001l-.208 1.32c-.01.066.04.123.105.123H8.14c.173 0 .32-.125.348-.296v-.005l.026-.129.48-3.043.03-.164a.873.873 0 0 1 .862-.734h.38c1.201 0 2.24-.244 3.043-.815.797-.567 1.39-1.477 1.663-2.874.229-1.175.096-2.087-.45-2.71a2.126 2.126 0 0 0-.548-.438l-.003.016c-.645 3.312-2.853 4.456-5.672 4.456H6.864a.695.695 0 0 0-.321.079z"/>
                        </svg>
            
                        <div>
                            <h3 class="fs-6 mt-4 px-4 pb-1">PayPal</h3>
                        </div>
                    </div>
                </a>
        
                <a class="btn btn-outline-secondary col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center  icono-wrap" href="{% url 'gestion_usuario' %}" role="button">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-credit-card" viewBox="0 0 16 16">
                            <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1H2zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7z"/>
                            <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1z"/>
                        </svg>
            
                        <div>
                            <h3 class="fs-6 mt-4 px-4 pb-1 icono-wrap">Débito</h3>
                        </div>
                    </div>
                </a>
            </div>

            <div class="row w-75 mx-auto">
                <a class="btn btn-outline-secondary col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center my-5 icono-wrap" href="{% url 'ver_reservas' %}" role="button">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-credit-card-2-back" viewBox="0 0 16 16">
                            <path d="M11 5.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1z"/>
                            <path d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2zm13 2v5H1V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1zm-1 9H2a1 1 0 0 1-1-1v-1h14v1a1 1 0 0 1-1 1z"/>
                        </svg>
            
                        <div>
                            <h3 class="fs-6 mt-4 px-4 pb-1">Crédito</h3>
                        </div>
                    </div>
                </a>
        
                <a class="btn btn-outline-secondary col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center my-5 icono-wrap" href="{% url 'gestion_usuario' %}" role="button">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-credit-card-2-front" viewBox="0 0 16 16">
                            <path d="M14 3a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h12zM2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2z"/>
                            <path d="M2 5.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1zm0 3a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5z"/>
                        </svg>
            
                        <div>
                            <h3 class="fs-6 mt-4 px-4 pb-1 icono-wrap">Prepago</h3>
                        </div>
                    </div>
                </a>
            </div>

            <a class="text-decoration-none" href="{% url 'cliente_index' %}">
                < Anular compra y volver al comercio
            </a>
        </div>
    </div>
</body>
</html>