{%load funcion_tag %}
<div class="card card border-warning mb-3" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Detalle pedido</h5>     
    </div>
    
    <div>
        <table class="table table-borderless table-sm ">
            <thead>
                <tr>
                    <th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Productos:</td>
                    <td>{{cart.total | precio_tag}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="fw-bolder text-danger">
        Total: (Impuestos incluidos)

        <div class="d-inline-block">
                {{orden.total | precio_tag}}
        </div>
    </div> 

    {% if orden.status == 'Entregado' %}
        <div class="d-grid gap-2 mt-2">
            <a class="btn btn-primary"  href="{{ next_url }}">Pagar</a>
        </div>
    {% else %}
        <div class="d-grid gap-2 mt-2">
            <button class="btn btn-primary"  href="{{ next_url }}" disabled>Pagar</button>
        </div>

        <div class="alert d-flex alert-danger text-center align-items-center mt-3" role="alert">
            <i class="bi bi-exclamation-triangle-fill"></i>
            &nbsp;                      
            <div>
                <p>Este boton se habilitará cuando el plato se encuentre en su mesa</p>
            </div>
        </div>
    {% endif %}


</div>