{%extends 'base.html'%}
{%load funcion_tag %}
{% block content %}

{%if cart.products.exists %}
    <div class="col-8">
        <table class="table">
            <thead >
                <tr>
                    <th scope='col'></th>                
                    <th scope='col'></th>
                    <th scope='col'>Plato</th>
                    <th scope='col'>Cantidad</th>     
                    <th scope='col'>Precio</th>              
                </tr>
            </thead>
            
            <tbody>
                {%for i in cart.product_related %}
                    {% with product=i.product %}
                        <tr>
                            <th>{{forloop.counter}}</th>
                            <th>
                                {% if product.image %}
                                    <img src="{{product.image.url}}" alt="ImagenProducto" width='70' height='70'>
                                {%endif%}
                            </th>
                            <th>
                                <a href="{% url 'product' product.slug %}">{{product.title}}</a>
                            </th>
                            <th>
                                {{i.quantity}}
                            </th>
                            <th>
                                <span class="font-weight-bold text-danger">{{product.price | precio_tag}}</span>
                                {%include 'carts/snippets/remove.html'%}
                            </th>
                        </tr>
                    {%endwith%}
                {%endfor%}
            </tbody>
        </table>
    </div>

        
   

    <div class="col">
        <form method="POST">
            {% csrf_token %}
            <div class="col-lg-6 col-md-6 col-sm-12 my-3">
                <select class="form-select" name="fechaReserva" aria-label="Default select example">
                    <option selected>Seleccione su Reserva</option>
                    {% for r in reservasHoy %}
                    <option value="{{ r.id_reserva }}">{{ r.fecha_reserva }}</option>
                    {% endfor %}
                </select>
            </div>
    
            <div class="card">
                <div class="card-body">
                    <div>
                        Subtotal: ({{cart.products.count}}): <span class="text-dander">{{cart.subtotal | precio_tag}}</span>
                    </div>
    
                    <div class="mt-2 ">
                        <button type="submit" class="btn btn-warning">Realizar pedido</button>
                    </div>
    
                    <div class="mt-2">
                        <a href="{%url 'index_productos'%}" class=" btn btn-primary">Seguir comprando</a>
                    </div>
                </div>
            </div>
        </form>
     
    </div>

{%else%}

    <div class="col">
        <p class="h3"> Sin pedidos  registrados</p>
        <a href="{%url 'index_productos'%}"> Realizar pedido</a>

    </div>
{%endif%}

{% endblock%}