{% load static %}
<!doctype html>
<html lang="es">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    
    <!--CSS -->
    <link rel="stylesheet" href="{% static 'css/css_index.css' %}">

    <!--FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">    
    <title>Restaurante Siglo XXI</title>
</head>

<body>
    {% load crispy_forms_tags %}
    <header class="container-fluid bg-primary 
    d-flex justify-content-center">
        <p class="text-light mb-0 p-2 fs-7">
            Av. España 233, Viña del Mar o llamanos al +569 57469792
        </p>
    </header>

<!--NAVBAR-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light p-2" id="menu">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}">
                <span class="" id="tituloNavbar">
                    Restaurante Siglo XXI
                </span> 
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="index.html">Inicio</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link " href="#misionVision">Misión y Visión</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link " href="#">Contactanos</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link " href="http://127.0.0.1:8000/admin/login/?next=/admin/">Administracion</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Menú
                        </a>
                    </li>

                    <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="#">Platos de entrada</a>
                        </li>

                        <li>
                            <a class="dropdown-item" href="#">Platos de fondo</a>
                        </li>

                        <li>
                            <a class="dropdown-item" href="#">Postres</a>
                        </li>
                    </ul>
                </ul>

            {% if user.is_authenticated %}
                
                <a href="{% url 'cliente_index' %}">{{user.username}}</a>

                &nbsp;

                <a class="btn btn-primary btn-primary-outline-success" type="submit" href="{% url 'logout' %}">
                    Cerrar sesion
                </a>
                
                
            {% else %}
                <a class="btn btn-outline-secondary me-md-3" type="button" type="submit" href="{% url 'login' %}">
                    Iniciar Sesion
                </a>
            {% endif %}
            
            </div>
        </div>
    </nav>

<!--SLIDER-->
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="3000">
                <img src="{% static 'img/Slider1.jpg' %}" class="d-block w-100" alt="Plato entrada">
            </div>

            <div class="carousel-item" data-bs-interval="3000">
                <img src="{% static 'img/Slider2.jpg' %}" class="d-block w-100" alt="Plato de fondo">
            </div>

            <div class="carousel-item">
                <img src="{% static 'img/Slider3.jpg' %}" class="d-block w-100" alt="Postre">
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

<!--INTRO-->
    <section class="w-50 mx-auto text-center pt-5" id="sectionInicio">
        <h1 class="p-3 border-top border-2" id="tituloInicio">50 años dando el mejor servico a tu paladar</h1>
        <span class="fs-5">
            En restaurant Siglo XXI nos encargamos de brindar el mejor servicio gastronómico a los residentes y turistas que
            nos visiten durante su estadia en la zona.
        </span>
    </section>

    <section class="container-fluid">
        <div class="row w-75 mx-auto my-5 sectionInicioIMG">  
            <div class="col-lg-6 col-md12 col-sm-12 d-flex justify-content-start my-5  icono-wrap">
                <img src="{% static 'img/rest1.jpg' %}" alt="" width="350" height="260">
            </div>

            <div class="col-lg-6 col-md12 col-sm-12 d-flex justify-content-start my-5  icono-wrap">
                <img src="{% static 'img/rest3.jpg' %}" alt="" width="350" height="260">
            </div>
        </div>
    </section>
    

    <!--MISION Y VISION-->
    <section class="w-50 mx-auto text-center pt-5" id="sectionMyV" id="misionVision">
        <h1 class="p-3 border-top border-2" id="tituloInicio">Mision y Visión</h1>
        <span class="fs-5">
            Inserte mision y vision equisde
        </span>
    </section>

    <!--CAMBIAR IMAGENES DE PAGINA WEB-->
    <section class="container-fluid">
        <div class="row w-75 mx-auto my-5 sectionInicioIMG">
            <div class="col-lg-6 col-md12 col-sm-12 d-flex justify-content-start my-5 icono-wrap">
                <img src="{% static 'img/rest1.jpg' %}" alt="" width="350" height="260">
            </div>

            <div class="col-lg-6 col-md12 col-sm-12 d-flex justify-content-start my-5 icono-wrap">
                <img src="{% static 'img/rest3.jpg' %}" alt="" width="350" height="260">
            </div>
        </div>
    </section>

    <!--PIE DE PAGINA O FOOTER-->
    <footer style="margin-top: 20px;" class="bg-primary text-white text-center text-lg-start">
        <div class="container p-4">
            <div class="row">

            <!--Barra de ubicacion del local-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Ubicacion</h5>
                <p>
                    Av. España 233, Ciudad de viña del mar, V Region, Chile.
                </p>
            </div>
    
            <!--Barra de atencion al cliente-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Atencion al cliente</h5>
            
                <ul class="list-unstyled mb-0">
                    <li>
                        <a class="text-white" style="text-decoration: none;">Whatsapp:+56957469792</a>
                    </li>

                    <li>
                        <a class="text-white" style="text-decoration: none;">Correo: RestaS21@gmail.com</a>
                    </li>

                    <li>
                        <a class="text-white" style="text-decoration: none;">Telefono: 956985107</a>
                    </li>
                </ul>
            </div>

            <!--Barra de redes sociales-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-0">Redes Sociales</h5>

                <ul class="list-unstyled">
                    <li>
                        <button class="btn btn-primary text-center" type="button">
                            <i class="bi bi-facebook p-1"></i>
                            Facebook
                        </button>
                    </li>

                    <li>
                        <button class="btn btn-primary text-center" type="button">
                            <i class="bi bi-instagram p-1"></i>
                            Instagram
                        </button>
                    </li>

                    <li>
                        <button class="btn btn-primary text-center" type="button">
                            <i class="bi bi-youtube p-1"></i>
                            YouTube
                        </button>
                    </li>

                    <li>
                        <button class="btn btn-primary text-center" type="button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pinterest" viewBox="0 0 16 16">
                                <path d="M8 0a8 8 0 0 0-2.915 15.452c-.07-.633-.134-1.606.027-2.297.146-.625.938-3.977.938-3.977s-.239-.479-.239-1.187c0-1.113.645-1.943 1.448-1.943.682 0 1.012.512 1.012 1.127 0 .686-.437 1.712-.663 2.663-.188.796.4 1.446 1.185 1.446 1.422 0 2.515-1.5 2.515-3.664 0-1.915-1.377-3.254-3.342-3.254-2.276 0-3.612 1.707-3.612 3.471 0 .688.265 1.425.595 1.826a.24.24 0 0 1 .056.23c-.061.252-.196.796-.222.907-.035.146-.116.177-.268.107-1-.465-1.624-1.926-1.624-3.1 0-2.523 1.834-4.84 5.286-4.84 2.775 0 4.932 1.977 4.932 4.62 0 2.757-1.739 4.976-4.151 4.976-.811 0-1.573-.421-1.834-.919l-.498 1.902c-.181.695-.669 1.566-.995 2.097A8 8 0 1 0 8 0z"/>
                            </svg>
                            Pinterest
                        </button>
                    </li>
                </ul>
            </div>
            </div>
        </div>
    
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2021 Copyright:
            <a class="text-white" style="text-decoration: none; font-family:Lobster,cursive;">
                Restaurante Siglo XXI
            </a>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>