<!doctype html>
<html lang="es">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <!--CSS -->
    <link rel="stylesheet" href="../../css/css_index_admin.css">

    <!--FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">    
    <title>Gestion de usuarios</title>
</head>
<body>
    <header class="container-fluid bg-primary 
    d-flex justify-content-center">
        <p class="text-light mb-0 p-2 fs-7">
            Av. España 233, Viña del Mar o llamanos al +569 57469792
        </p>
    </header>

<!--NAVBAR-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light p-2" id="menu">
        <div class="container-fluid">
            <a class="navbar-brand" href="../admin/index_admin.html">
                <span class="" id="tituloNavbar">
                    Restaurante Siglo XXI
                </span> 
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/html/admin/index_admin.html">Inicio</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link " href="../bodega/gestion_bodega.html">Inventario</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link " href="../admin/gestion_usuario.html">Usuarios</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link " href="../admin/gestionMesas.html">Mesas</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link " href="../admin/gestion_solicitudes.html"">Solicitudes</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link " href="../admin/admin_reportes.html">Reportes</a>
                    </li>
                </ul>
            
                <form class="d-flex">
                    <a class="btn btn-primary btn-primary-outline-success" type="submit" href="/html/general/loginAsociado.html">
                        Cerrar sesión
                    </a>
                </form>
            
            </div>
        </div>
    </nav>

    <!--IMAGEN CABECERA-->
    <section class="text-center">
        <img class="img-fluid" src="/img/imagenAdminUsuario.png" alt="imagen de usuarios">
    </section>

    <section class="w-50 mx-auto text-center pt-5" id="sectionInicio">
        <h1 class="p-3 border-top border-2" id="tituloInicio">Gestión de usuarios</h1>
    </section>

    <section class="container">
        <div class="row mx-auto border justify-content-center">
            <form class="row g-3">
                <div class="col-auto">
                    <label for="staticEmail2" class="visually-hidden">Buscar usuario</label>
                    <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Buscar usuario">
                </div>
                <div class="col-auto">
                    <label for="inputBuscarUsuario" class="visually-hidden">Ingrese usuario</label>
                    <input type="password" class="form-control" id="inputBuscarUsuario" placeholder="">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3">Buscar</button>
                </div>
            </form>

            
            <div class="w-100">
                <div class="table-responsive">
                    <table class="table table-hover align-middle text-center">
                        <!--Columna-->
                        <thead>
                            <tr>
                                <th scope="col">Rut</th>
                                <th scope="col">usuario</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Contraseña</th>
                                <th scope="col">Correo electrónico</th>
                                <th scope="col">Número de teléfono</th>
                                <th scope="col">Tipo de usuario</th>
                                <th scope="col" colspan="2">Opciones</th>
                            </tr>
                            
                        </thead>

                        <!--Filas-->
                        <tbody>
                            <tr>
                                <td class="text-center" scope="row">19.844.348-6</td>
                                <td class="text-center" scope="row">jos.lazcano</td>
                                <td class="text-center" scope="row">José Lazcano</td>
                                <td class="text-center" scope="row">asdsad123</td>
                                <td class="text-center" scope="row">jos.lazcano@duocuc.cl</td>
                                <td class="text-center" scope="row">962507551</td>
                                <td class="text-center" scope="row">Administrador</td>
                                <td class="text-warning fs-4 text-center" scope="row">
                                    <a class="btn btn-outline-warning border-0 fs-4 text-center" href="../admin/modificar_usuario.html">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                </td>
                                <td class="text-danger fs-4 text-center" scope="row">
                                    <a class="btn btn-outline-danger border-0 fs-4 text-center" href="" data-bs-toggle="modal" data-bs-target="#modalEliminar">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                </td>
                            </tr>

                            <tr>
                                <td class="text-center" scope="row">14.566.956-8</td>
                                <td class="text-center" scope="row">car.sepulveda</td>
                                <td class="text-center" scope="row">Carlos Sepulveda</td>
                                <td class="text-center" scope="row">dsadsa321</td>
                                <td class="text-center" scope="row">car.sepulveda@restaurant.cl</td>
                                <td class="text-center" scope="row">945678245</td>
                                <td class="text-center" scope="row">Cocinero</td>
                                <td class="text-warning fs-4 text-center" scope="row">
                                    <a class="btn btn-outline-warning border-0 fs-4 text-center" href="../admin/modificar_usuario.html">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                </td>
                                <td class="text-danger fs-4 text-center" scope="row">
                                    <a class="btn btn-outline-danger border-0 fs-4 text-center" href="" data-bs-toggle="modal" data-bs-target="#modalEliminar">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!--Modal eliminar-->
        <div class="modal fade" id="modalEliminar" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Eliminar usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    ¿Desea eliminar este usuario?
                </div>

                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal">
                        No eliminar
                    </button>

                    <button class="btn btn-danger" type="button" data-bs-target="#confirmarCancelar" data-bs-toggle="modal" data-bs-dismiss="modal">
                        Si, estoy seguro/a
                    </button>
                </div>
            </div>
            </div>
        </div>

        <div class="row w-75 mx-auto justify-content-center">
            <div class="text-center col-lg pt-3 ">
                <a class="btn btn-primary btn-primary-outline-success btn-lg w-50" href="../admin/index_admin.html">
                    Volver
                </a>
            </div>

            <div class="text-center col-lg p-3 ">
                <a class="btn btn-success btn-primary-outline-success btn-lg w-50" href="../admin/agregar_usuario.html">
                    Agregar usuario
                </a>
            </div>            
        </div>
    </section>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>